:root {
  --primary-color: #f9f7fe;
  --secondary-color: #f0beca;
  --button-color: #cab6fd;
}

body {
  background-color: white;
}
h1,
h2,
h3,
p {
  color: black;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
p {
  font-family: "Playfair Display", serif;
  font-size: 18px;
}
.heading-photo {
  max-width: 100%;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.coding-photo {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  border-radius: 4px;
}
span.source {
  text-align: center;
  font-size: 12px;
  color: black;
  display: block;
}
.heading {
  margin-top: 60px;
  background-color: var(--primary-color);
}
hr {
  color: black;
  margin: 0px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
p.contact {
  text-align: center;
}
hr.footer {
  margin-top: 30px;
}
footer {
  text-align: center;
  margin: 40px;
}
div.purple {
  margin: 0 auto;
}
div.col-sm {
  display: flex;
  justify-content: center;
}
p.skills {
  font-size: 16px;
  font-weight: 500;
}

.info {
  margin-top: 60px;
}
.content-images {
  max-width: 80%;
  margin: 10px;
  padding: 10px;
}
.skills-images {
  max-width: 80px;
  margin: 10px;
  padding: 10px;
}

.btn-branding {
  border-radius: 4px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  background-color: var(--button-color);
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
.btn-apps {
  border-radius: 4px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  background-color: var(--button-color);
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
.btn-apps:hover {
  text-decoration: underline;
}
.certificate {
  width: 100%;
  margin-bottom: 40px;
}
.body-photo {
  max-width: 100%;
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
.project-photo {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  border: 2px solid rgb(0 0 0 / 20%);
}
.subtitles {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
}
p.work-header {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  margin-top: 0;
}
.social-media {
  color: black;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 30px;
}
.instagram {
  font-size: 15px;
}
.social-media:hover {
  color: var(--button-color);
  cursor: pointer;
}
.link {
  color: black;
  text-decoration: none;
}
.email-link {
  font-size: 16px;

  color: var(--button-color);
  text-decoration: none;
}
.email-link:hover {
  color: black;
  text-decoration: underline;
}
.git-link {
  color: black;
  text-decoration: underline;
}
.git-link:hover {
  color: var(--button-color);
}
.link:hover {
  color: var(--button-color);
  text-decoration: none;
}
.github {
  margin-top: 10px;
}

.bg-purple {
  background-color: var(--primary-color);
}
.purple {
  background-color: var(--primary-color);
}
div.center {
  margin-left: 40px;
}
div.row.heading {
  margin-top: 0px;
}
div.languages {
  width: 60%;
}
.description {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  padding: 30px 30px 30px 0;
}
h1.work-headers {
  margin-top: 30px;
  font-size: 40px;
}
p.work-headers {
  font-size: 14px;
  margin-right: 60px;
}
p.SheCodes-Pro {
  font-size: 14px;
  margin: 0 0 16px 0;
}
.margin {
  margin-left: 48px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  h2.description {
    text-align: justify;
    margin: 5px 15px;
    padding: 10px;
  }
  span.hide {
    display: none;
  }
  .description {
    font-size: 14px;
  }

  p.subtitles {
    font-size: 18px;
  }

  .content-images {
    display: none;
  }
  .skills-images {
    display: none;
  }
  .project-photo {
    display: none;
  }
  p.skills {
    display: none;
  }
  p.work-headers {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  h1.work-headers {
    text-align: center;
    font-size: 30px;
  }
  a.git-link {
    text-align: center;
    margin: 0 auto;
  }
  div.col-md.github {
    text-align: center;
  }
  div.center {
    margin: 0 auto;
  }
  div.col-md-5 {
    margin: 0 auto;
  }

  div.col-md-6 h1,
  p,
  a {
    text-align: center;
  }
  p.work-header {
    font-size: 25px;
  }
}
